<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/output.css')}}">
    <title>Cadastro de produtos</title>
</head>
<body>
<nav class="bg-white border-gray-200">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
            <a href="{{url_for('homepage')}}" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="../static/fotos_site/logo.png" class="h-11" alt="Logo"/>
                <span class="self-center text-2xl font-semibold whitespace-nowrap ">Gerenciador de produtos</span>
            </a>
            <div class="flex items-center space-x-6 rtl:space-x-reverse">
                <a href="9-9999-8888" class="text-sm  text-gray-500 hover:underline">(11)3333-33333</a>
                <a href="{{url_for('homepage')}}" class="text-sm  text-black-600  hover:underline">Login</a>
            </div>
        </div>
    </nav>
    <nav class="bg-green-600 ">
        <div class="max-w-screen-xl px-4 py-3 mx-auto">
            <div class="flex items-center">
                <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                    <li>
                        <a href="{{ url_for('perfil', id_usuario=current_user.id) }}" class="text-slate-50 hover:underline"
                           aria-current="page">Perfil</a>
                    </li>
                    <li>
                        <a href="{{url_for('Estoque')}}" class="text-slate-50  hover:underline">Estoque</a>
                    </li>
                    <li>
                        <a href="{{url_for('cadastro')}}" class="text-slate-50  hover:underline">Cadastro de produtos</a>
                    </li>
                    <li>
                        <a href="{{url_for('logout')}}" class="text-slate-50  hover:underline">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


{% if formp %}
<form method="post">
    {{ formp.csrf_token }}

    {{ formp.nome.label()}}
    {{ formp.nome()}}

    {{ formp.preco.label()}}
    {{ formp.preco()}}

    {{ formp.quantidade.label()}}
    {{ formp.quantidade()}}

    {{ formp.marca.label()}}
    {{ formp.marca()}}

    {{ formp.modelo.label()}}
    {{ formp.modelo()}}

    {{ formp.codigoDeBarras.label()}}
    {{ formp.codigoDeBarras()}}

    {{ formp.plataformaDeVenda.label()}}
    {{ formp.plataformaDeVenda()}}

    {{formp.largura.label()}}
    {{formp.largura()}}

    {{formp.altura.label()}}
    {{formp.altura()}}

    {{formp.profundidade.label()}}
    {{formp.profundidade()}}

    {{formp.pesoBruto.label()}}
    {{formp.pesoBruto()}}

    {{formp.pesoLiquido.label()}}
    {{formp.pesoLiquido()}}

    {{formp.cadastradoPor.label()}}
    {{formp.cadastradoPor()}}

    {{formp.botao_confirmacao()}}


</form>
{% endif %}
<footer class="bg-green-300 text-white py-4">
    <div class=" container mx-auto flex justify-center items-center">
        <!-- Redes Sociais -->
        <div class="flex space-x-4">
            <a href="https://www.linkedin.com/in/francisco-libanio-nascimento/" class="text-slate-50 hover:text-slate-50"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Francisco-Libanio" class="text-slate-50 hover:text-gray-200"><i class="fab fa-github"></i></a>
            <a href="https://medium.com/@libanio.dev" class="text-slate-50 hover:text-gray-200"><i class="fab fa-medium"></i></a>
        </div>
        <!-- Logo -->
        <div class="text-center ">
            <img src="../static/fotos_site/logo.png" alt="Logo" class="object-contain h-12 ">
        </div>
        <!-- Aviso -->
        <div>
            <p class="text-slate-50 text-sm">Aviso: Esta é uma sistema de teste</p>
        </div>
    </div>
</footer>
</body>
</html>