<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="{{url_for('static',filename='/css/output.css')}}">
  <script src="https://kit.fontawesome.com/3277339033.js" crossorigin="anonymous"></script>
    <title>Estoque</title>
</head>
<body class="h-screen flex flex-col">
<div class ="flex-1">
<nav class="bg-white border-gray-200">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
            <a href="{{url_for('homepage')}}" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="../static/fotos_site/logo.png" class="h-11" alt="Logo"/>
                <span class="self-center text-2xl font-semibold whitespace-nowrap ">Gerenciador de produtos</span>
            </a>
            <div class="flex items-center space-x-6 rtl:space-x-reverse">
                <a href="9-9999-8888" class="text-sm  text-gray-500 hover:underline">(11)3333-33333</a>
                <a href="{{url_for('homepage')}}" class="text-sm  text-black-600  hover:underline">Login</a>
            </div>
        </div>
    </nav>
    <nav class="bg-green-600 ">
        <div class="max-w-screen-xl px-4 py-3 mx-auto">
            <div class="flex items-center">
                <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                    <li>
                        <a href="{{ url_for('perfil', id_usuario=current_user.id) }}" class="text-slate-50 hover:underline"
                           aria-current="page">Perfil</a>
                    </li>
                    <li>
                        <a href="{{url_for('Estoque')}}" class="text-slate-50  hover:underline">Estoque</a>
                    </li>
                    <li>
                        <a href="{{url_for('cadastro')}}" class="text-slate-50  hover:underline">Cadastro de produtos</a>
                    </li>
                    <li>
                        <a href="{{url_for('logout')}}" class="text-slate-50  hover:underline">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3">Nome</th>
            <th scope="col" class="px-6 py-3">Preço</th>
            <th scope="col" class="px-6 py-3">Quantidade</th>
            <th scope="col" class="px-6 py-3">Marca</th>
            <th scope="col" class="px-6 py-3">Modelo</th>
            <th scope="col" class="px-6 py-3">>Código de Barras</th>
            <th scope="col" class="px-6 py-3">Plataforma de Venda</th>
            <th scope="col" class="px-6 py-3">Largura</th>
            <th scope="col" class="px-6 py-3">Altura</th>
            <th scope="col" class="px-6 py-3">Profundidade</th>
            <th scope="col" class="px-6 py-3">Peso Bruto</th>
            <th scope="col" class="px-6 py-3">Peso Líquido</th>
            <th scope="col" class="px-6 py-3">Cadastrado Por</th>
            <th scope="col" class="px-6 py-3"> <span class="sr-only">Edit</span> </th>
          </tr>
        </thead>
        <tbody>
          {% for produto in produtos %}
          <tr class="bg-white border-b ">

            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">{{ produto.nome }}</th>
            <td class="px-6 py-4">{{ produto.preco }}</td>
            <td class="px-6 py-4">{{ produto.quantidade }}</td>
            <td class="px-6 py-4">{{ produto.marca }}</td>
            <td class="px-6 py-4">{{ produto.modelo }}</td>
            <td class="px-6 py-4">{{ produto.codigoDeBarras }}</td>
            <td class="px-6 py-4">{{ produto.plataformaDeVenda }}</td>
            <td class="px-6 py-4">{{ produto.largura }}</td>
            <td class="px-6 py-4">{{ produto.altura }}</td>
            <td class="px-6 py-4">{{ produto.profundidade }}</td>
            <td class="px-6 py-4">{{ produto.pesoBruto }}</td>
            <td class="px-6 py-4">{{ produto.pesoLiquido }}</td>
            <td class="px-6 py-4">{{ produto.cadastradoPor }}</td>
            <td class="px-6 py-4 text-right">
                <a href="#" class="font-medium text-blue-600 hover:underline">Editar</a>
            </td>
          </tr>
        </tbody>
      {% endfor %}
    </table>
</div>
</div>
<footer class="bg-green-300 text-white py-4 ">
    <div class=" container mx-auto flex justify-center items-center">
        <!-- Redes Sociais -->
        <div class="flex space-x-4 h-3/4 ">
            <a href="https://www.linkedin.com/in/francisco-libanio-nascimento/" class="text-gray-950 hover:text-gray-950 "><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Francisco-Libanio" class="text-gray-950 hover:text-gray-200"><i class="fab fa-github"></i></a>
            <a href="https://medium.com/@libanio.dev" class="text-gray-950 hover:text-gray-200"><i class="fab fa-medium"></i></a>
        </div>
        <!-- Logo -->
        <div class="text-center ">
            <img src="../static/fotos_site/logo.png" alt="Logo" class="object-contain h-12 ">
        </div>
        <!-- Aviso -->
        <div>
            <p class="text-gray-950 text-sm">Aviso: Esta é uma sistema de teste</p>
        </div>
    </div>
</footer>

</body>
</html>
