<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sua Página</title>
</head>
<body style="margin: 0; font-family: Arial, sans-serif;">

  <header style="background-color: #00FF7F; padding: 20px 0;">
    <nav style="display: flex; justify-content: space-between; align-items: center; max-width: 1200px; margin: 0 auto; padding: 0 20px;">
      <div class="logo" style="color: white; font-size: 24px;">Logotipo</div>
      <ul style="display: flex; list-style: none;">
        <li style="margin-left: 20px;"><a href="#" style="color: white; text-decoration: none;">Para empresas</a></li>
        <li style="margin-left: 20px;"><a href="#" style="color: white; text-decoration: none;">Conexões</a></li>
        <li style="margin-left: 20px;"><a href="#" style="color: white; text-decoration: none;">ENTRAR</a></li>
      </ul>
    </nav>
  </header>

  <main style="position: relative;">
    <div class="background" style="background-image: url('background-image.jpg'); background-size: cover; background-position: center; height: 400px; display: flex; justify-content: center; align-items: center;">
      <h1 style="color: white; text-align: center; font-size: 36px;">Gerencie seu estoque e otimize suas vendas</h1>
    </div>
  </main>

  <footer class="bg-green-300 text-white py-4">
    <div class=" container mx-auto flex justify-center items-center">
        <!-- Redes Sociais -->
        <div class="flex space-x-4">
            <a href="https://www.linkedin.com/in/francisco-libanio-nascimento/"
               class="text-slate-50 hover:text-slate-50"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Francisco-Libanio" class="text-slate-50 hover:text-gray-200"><i
                    class="fab fa-github"></i></a>
            <a href="https://medium.com/@libanio.dev" class="text-slate-50 hover:text-gray-200"><i
                    class="fab fa-medium"></i></a>
        </div>
        <!-- Logo -->
        <div class="text-center ">
            <img src="../static/fotos_site/logo.png" alt="Logo" class="object-contain h-12 ">
        </div>
        <!-- Aviso -->
        <div>
            <p class="text-slate-50 text-sm">Aviso: Esta é uma sistema de teste</p>
        </div>
    </div>
</footer>

</body>
</html>
