<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block titulo %}
        Faça seu login
        {% endblock %}
    </title>


    {%block body%}
<body style="margin: 0; font-family: Arial, sans-serif;">
<header style="background-color: #00FF7F; padding: 20px 0;">
    <nav style="display: flex; justify-content: space-between; align-items: center; max-width: 1200px; margin: 0 auto; padding: 0 20px;">
        <div class="logo" style="color: white; font-size: 24px;">Logotipo</div>
        <ul style="display: flex; list-style: none;">
            <li style="margin-left: 20px;"><a href="#" style="color: white; text-decoration: none;">Para empresas</a>
            </li>
            <li style="margin-left: 20px;"><a href="#" style="color: white; text-decoration: none;">Conexões</a></li>
            <li style="margin-left: 20px;"><a href="#" style="color: white; text-decoration: none;">ENTRAR</a></li>
        </ul>
    </nav>
</header>
<main style="position: relative;">
    <div class="background"
         style="background-image: url('background-image.jpg'); background-size: cover; background-position: center; height: 400px; display: flex; justify-content: center; align-items: center;">
        <h1 style="color: white; text-align: center; font-size: 36px;">Gerencie seu estoque e otimize suas vendas</h1>
        <h1>Faça login</h1>

        {% block formulario %}
        <form method="POST">
            {{form.csrf_token}}

            {{form.email.label()}}
            {{form.email()}}

            {{form.senha.label()}}
            {{form.senha()}}

            {{form.botao_confirmacao()}}

        </form>
        {% endblock %}

    </div>
</main>


</body>
{% endblock %}
</html>