<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/output.css">
    <meta charset="UTF-8">
    <title>
        {% block titulo %}
        Faça seu login
        {% endblock %}
    </title>


    {%block body%}
<body style="margin: 0; font-family: Arial, sans-serif;">
<header style="background-color: #00FF7F; padding: 20px 0;">

</header>

<div class = "container">
    <div class = "bg-blue-500">
        <p class = "text-3x1 font-bold  underline">olá mundo!</p>
    </div>

</div>
<main style="position: relative;">
    <div class="background"
         style="background-image: url('background-image.jpg'); background-size: cover; background-position: center; height: 400px; display: flex; justify-content: center; align-items: center;">
        <h1 style="color: white; text-align: center; font-size: 36px;">Gerencie seu estoque e otimize suas vendas</h1>
        <h1>Faça login</h1>

        {% block formulario %}
        <form method="POST">
            {{form.csrf_token}}

            {{form.email.label()}}
            {{form.email()}}

            {{form.senha.label()}}
            {{form.senha()}}

            {{form.botao_confirmacao()}}

        </form>
        {% endblock %}

    </div>
</main>


</body>
{% endblock %}
</html>